/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/*Navigation Bar*/
.NavigationBar{
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    margin: 0 auto;
}

.links{
    width:70%;
    display:flex;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
    color: black;

}
a:link{
    color: black;
    text-decoration: none;

}
/*Top Content*/

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

/*Middle Content*/
.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1.box{
    background: red; 
}

#box2.box{
    background:gold; 
}

#box3.box{
    background: cadetblue
}

#box4.box{
    background: coral;
}

#box5.box{
    background: crimson
}
#box6.box{
    background: forestgreen;
}
#box7.box{
    background: darkorchid;
}
#box8.box{
    background: hotpink; 
}
#box9.box{
    background:indigo; 
}
#box10.box{
    background: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* ABOUT PAGE*/

.AboutPage{
    margin-left: 10%;
    margin-right: 10%;
}

.container-about-page{
    display:flex;
    flex-direction: column;
    
}
.TopPicture{
    text-align: center;
    padding-top: 4%;
   
}

/* Top Content */

.About{
    padding-right: 8%;
    padding-left:8%;
    padding-top: 4%;
}

/*Middle Content*/

.MiddleSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.MiddleBoxes{
    width:40%;
    border-bottom: 2px black dotted;
    padding-bottom: 3%;
    padding-top: 3%;
    
}

button{
    border-radius: 10%;
    margin-top: 2%;
    border: 2px solid black;
}

/*Bottom Section*/

.BottomSection{
    margin:5%;
}

/*Footer*/

.FooterNav a{
    color: white;
    width: 60%;
}


/* Contact Page*/

.containerBody{
   margin: 2% 18% 0%;
}

.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 14%;
}

.smallContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 4% 0%;
}

.label1{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2%;
    
}

.box1{
    width:40%;
    height: 8vh;
}

.box2{
    width:80%;
    height:100px;
}

.contactButton{
  background-color: black;
  color: white;
  padding: 10px 50px;
  text-align: center;
  font-size: 1.5rem;
}

.contactButton:hover{
    background-color: white;
    color: black;
}

.FooterNav{
    margin: 4% 20% 0%;
}